<jsv-header>
    <button-header-left onclick="$JSView.back()">jupiter< Inici</button-header-left>
    jupiter
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">jupiter</h1>
		
		<img src="http://files.softicons.com/download/object-icons/earth-icons-by-pinchodesigns/png/256x256/Earth%203.png" alt="Foto Terra" width="300" height="300">
		
		<p>
		Júpiter és el planeta més gran del sistema solar i el cinquè segons la seva distància al Sol. 
		Té un diàmetre de 142.984 km (unes 11 vegades el de la Terra). 
		La seva òrbita se situa aproximadament a 5 UA (750 000 000 km) del Sol, entre les òrbites de Mart i Saturn.
		És un gegant gasós format principalment per hidrogen i heli sense una superfície interior definida. 
		La seva característica més destacable és la Gran Taca Vermella, un enorme anticicló situat en les latituds
		tropicals de l'hemisferi sud.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('mart')">Mart</button>
	
	</div>	
	
</jsv-content>
